default:
    autoload:
        - "%paths.base%/custom_features/bootstrap"

    extensions:
        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "custom_features"
            contexts:
                - "CustomFeatureContext"
